@import './header.css';

:root {
  /* colors */
  --main-bg-color: #ffffff;
  --line-gray-color: #dadce0;
  --light-grey: #eeeeee;

  --blue-info: #1967d2;
  --light-blue: #e8f0fe;

}

header {
  height: 60px;
  background-color: var(--main-bg-color);
  border-bottom: 1px solid var(--line-gray-color);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial";
  color: rgba(0, 0, 0, 0.7);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  height: 40px;
  background-color: var(--main-bg-color);
  border-top: 1px solid var(--line-gray-color);
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-size: 0.9em;
  margin: 0 auto;
}

#main-wrapper {
  min-height: 85vh;
  display: grid;
  background: url('http://testbed.nicon.nl/img/_FBs3b.svg') repeat;
  background-size: 10px 10px;
  /* grid-template-columns: 1fr 70% 1fr; */
}

#left-sidebar {
  grid-column: 1;
  border-right: 1px solid var(--line-gray-color);
}

#right-sidebar {
  grid-column: 3;
  border-left: 1px solid var(--line-gray-color);
}

.bjs-powered-by{
  visibility: hidden !important;
}
